<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Group 8 Final Project - Pet Adoption Website Service (P.A.W.S.) v2</title>
</head>
<body>
<header><h1>P.A.W.S. Generic Pets input page</h1><br/></header>

<div th:switch="${newPet}">
<h3 th:case="null">No pet info submitted</h3>
<div th:case="*">
<h2>Pets: Insert a new Pet or Edit Pet</h2>
<!-- th:action="@{/update/{petId}(id=${newPet.petId})}" th:action="@{/updatePet/{petId}(id=${newPet.petId})}"-->
<form name="addPetForm" th:object="${newPet}" th:action="@{/updatePet/{id}(id=${newPet.petId})}"
 method='POST'>
<!-- Adding in the th:field="*{variableName}" to each of the below input lines
to pass the object over to the input.html & parse the object data into the
appropriate boxes - rather than doing a separate page to edit an item  -->
Enter/Update Pet's name: <input name="petName" size="20" th:field="*{petName}"><br/>
Enter/Update Pet's type: <input name="petType" size="20" th:field="*{petType}"><br/>
Enter/Update Pet's breed: <input name="breed" size="20" th:field="*{breed}"><br/>
Enter/Update Pet's gender: <input name="gender" size="20" th:field="*{gender}"><br/>
<br/>
Enter/Update Pet's foster owner info:<!-- <input name="fosterOwner" size="50" th:field="*{fosterOwner}"><br/> -->

<!-- attempting to find way to get drop down selection for available volunteers in DB table to pick from-->
<!-- <select th:field="*{selectedVolunteer}" class="form-control" id="selectedVolunteer" name="selectedVolunteer"> -->
<!-- ?class="form-control" needed in select tag? -->
<!-- <select th:field="*{fosterOwner}" id="selectedVolunteer" name="selectedVolunteer" required> -->
<!-- Below method w/ altered '/addPet' Get mapping from webcontroller not working like did w/ volunteers
& customers displaying below -->
<select th:field="*{fosterOwner}" id="fosterOwner" name="fosterOwner">
	<option value="">Select Foster Owner</option>
	<option th:each="volunteer : ${selectableVolunteers}"  
			th:value="${volunteer.volunteerId}"
			th:text="${volunteer.firstName}+' '+${volunteer.lastName}+' ; email: '+${volunteer.email}+' ; Phone: '+${volunteer.phone}">
	</option>
</select>
<!-- below & above both just give drop down list of default value only - not pulling from volunteers table
<select th:field="*{fosterOwner.volunteerId}" id="selectedVolunteer" name="selectedVolunteer" required>
	<option value="0">Select Foster Owner</option>
	<option th:each="volunteer: ${volunteers}"  
			th:value="${volunteer.volunteerId}"
			th:text="${volunteer.firstName}+' '+${volunteer.lastName}+' ; email: '+${volunteer.email}+' ; Phone: '+${volunteer.phone}">
	</option>
</select> -->
<br/>
<!-- Since volunteer is no longer embedded into Pet class but now is table join of pet.fosterOwner
to volunteer.volunteerId in DB likely need to change below  - alter to call to volunteer related 
controller/service layers-->
<!-- Unsure if can be submitted together or if one form can call next form for volunteer? -->
<!-- 
Enter/Update Volunteer information of person who is fostering pet: <br>
Enter/Update Volunteer's first name: <input name="volunteer.firstName" size="24" th:field="*{volunteer.firstName}">
Enter/Update Volunteer's last name: <input name="volunteer.lastName" size="24" th:field="*{volunteer.lastName}">
<br/>
Enter/Update Vounteer's address: <br>
Street: <input name="volunteer.street" size="50" th:field="*{volunteer.street}"><br/>
City: <input name="volunteer.city" size="20" th:field="*{volunteer.city}"><br/>
State: <input name="volunteer.state" size="20" th:field="*{volunteer.state}"><br/>
Zip: <input name="volunteer.zip" size="9" th:field="*{volunteer.zip}"><br/>
Phone Number: <input name="volunteer.phone" size="15" th:field="*{volunteer.phone}"><br/>
Email: <input name="volunteer.email" size="50" th:field="*{volunteer.email}"><br/> -->
<br/>
<input name="submit" type="submit" value="submit" />
</form>
</div>
</div>
<br />
<div th:switch="${newVolunteer}">
<h3 th:case="null">No volunteers information submitted</h3>
<div th:case="*">
<h3>Volunteers: Insert a new Volunteer or Edit Volunteer</h3>
<!--change th:action="@{/update/{volunteerId}(id=${newVolunteer.volunteerId})}" 
to more specify controller th:action="@{volunteer/update/{volunteerId}(id=${newVolunteer.volunteerId})}"
didn't work - still ambiguous handler method th:action="@{/updateVolunteer/{volunteerId}(id=${newVolunteer.volunteerId})}"-->
<form name="addVolunteerForm" th:object="${newVolunteer}" th:action="@{/updateVolunteer/{id}(id=${newVolunteer.volunteerId})}"
 method='POST'>
Enter/Update Volunteer information: <br>
Enter/Update Volunteer's first name: <input name="firstName" size="24" th:field="*{firstName}"><br/>
Enter/Update Volunteer's last name: <input name="lastName" size="24" th:field="*{lastName}"><br/>
<br/>
Enter/Update Vounteer's address: <br>
Street: <input name="street" size="50" th:field="*{street}"><br/>
City: <input name="city" size="20" th:field="*{city}"><br/>
State: <input name="state" size="20" th:field="*{state}"><br/>
Zip: <input name="zip" size="9" th:field="*{zip}"><br/>
Phone Number: <input name="phone" size="15" th:field="*{phone}"><br/>
Email: <input name="email" size="50" th:field="*{email}" ><br/>
<br/>
Foster Pets: <!--  <input name="listOfFosterPets" th:field="*{listOfFosterPets}"><br/> -->
<label for="selectedPet">Select Pet(s) to add to list of foster pets: </label><br>
<!--  <select id="selectedPet" name="selectedPet" th:field="*{selectedPet}" required>-->
<!--  <select id="selectedPet" name="listOfFosterPets" th:field="*{listOfFosterPets}">
	<option value="">--Select Pet--</option>
	<option th:each="currentPet : ${selectablePets}" th:text="${currentPet.petName}" th:value="${currentPet.petId}"/>
</select>
<br/>-->

<!-- ??Method of getting check boxes to select which pets the volunteer is fostering 
now working/checkbox are now showing on webpage & populated w/ pets in DB, but adding not working yet-->
<ul>
	<li th:each="pet : ${selectablePets}">
	<div class="addVolunteerForm checkbox">
		<input type="checkbox" th:field="*{listOfFosterPets}" th:value="${pet.petId}">
		<!-- <input type="checkbox" th:field="*{selectablePets}" th:value="${pet.petId"}>-->
		<label th:text="${pet.petName}+' ; PetType: '+${pet.petType}+' ; Breed: '+${pet.breed}+' ; Gender: '+${pet.gender}" ></label>
	</div>
	</li>
</ul>
<br/>
<input name="submit" type="submit" value="submit" /> 
</form>
</div>
</div>
<br />
<div th:switch="${newCustomer}">
<h3 th:case="null">No customers information submitted</h3>
<div th:case="*">
<h3>Customers: Insert a new Customer or Edit Customer</h3>
<!-- th:action="@{/update/{customerId}(id=${newCustomer.customerId})}" th:action="@{/updateCustomer/{customerId}(id=${newCustomer.customerId})}"-->
<form name="addCustomerForm" th:object="${newCustomer}" th:action="@{/updateCustomer/{id}(id=${newCustomer.customerId})}"
 method='POST'>
Enter/Update Customer information: <br>
Enter/Update Customer's first name: <input name="firstName" size="24" th:field="*{firstName}"><br/>
Enter/Update Customer's last name: <input name="lastName" size="24" th:field="*{lastName}"><br/>
<br/>
Enter/Update Customer's address: <br>
Street: <input name="street" size="50" th:field="*{street}"><br/>
City: <input name="city" size="20" th:field="*{city}"><br/>
State: <input name="state" size="20" th:field="*{state}"><br/>
Zip: <input name="zip" size="9" th:field="*{zip}"><br/>
Phone Number: <input name="phone" size="15" th:field="*{phone}"><br/>
Email: <input name="email" size="50" th:field="*{email}" ><br/>
Selected Pet: <!-- <input name="selectedPet" size="50" th:field="*{selectedPet}" ><br/>-->
<!-- Selected Pet: <input name="selectedPet" size="50" th:field="*{selectedPet}" th:value="${pet.petId}"><br/> -->
<!-- ??th:field="*{selectedPet.pet.petId}" vs  th:field="*{pet.petId}"so field & value are same-->
<!--?? if th:value="${pet.getPetId()}" ??th:object="${selectedPet}" ??th:each="pet : ${selectablePets}"-->
<!-- attempting to find way to get drop down selection for available pets in DB table to pick from-->
<!-- ?does select need class="form-control"? th:object:"${selectedPet}" --> 

<!-- Both of both select versions just have drop down w/ only 'select pet' - not pulling pets from DB 
<label for="pet">Select Pet to meet: </label><br>
<select class="form-control" id="selectedPet" name="selectedPet" th:field="*{selectedPet}" required>
	<option value="">--Select Pet--</option>
	<option th:each="currentPet : ${pets}" th:text="${currentPet.petName}" th:value="${currentPet.petId}"/>
</select>-->
<br/>
<select th:field="*{selectedPet}" id="selectedPet" name="selectedPet" required> 
<!-- <select th:field="*{selectedPet}" id="selectablePets" name="selectablePets" required>-->
	<option value="">--Select Pet to meet--</option>
	<!-- <option th:each="pet : ${pets}"  -->
	<option th:each="pet : ${selectablePets}" 
			th:value="${pet.petId}"
			th:text="${pet.petName}+' ; PetType: '+${pet.petType}+' ; Breed: '+${pet.breed}+' ; Gender: '+${pet.gender}">
	</option>
	<!--attempt to call method-not working <option th:each="pet: ${customerWebController.getSelectablePets()}"  
			th:value="${pet.petId}"
			th:text="${pet.petName}+' ; PetType: '+${pet.petType}+' ; Breed: '+${pet.breed}+' ; Gender: '+${pet.gender}">
	</option>-->
</select> 
<br/>
<!--?have method to select pet & form grabs petId to identify pet object selected
by customer??? th:field="*{selectedPet} (id=${pet.petId})" -->
<br/>
<input name="submit" type="submit" value="submit" />
</form>
</div>
</div>
<br/>
<a href="viewAll">View all Pets</a><br />
<!-- might need to switch above to below version & change related WebController's method @GetMapping
URI expression to match this html page anchor link. 
<a href="viewAllPets">View all Pets</a> -->
<a href="../addPet">Add a new Pet</a><br />
<a href="viewAllVolunteers">View all Volunteers</a><br />
<a href="../addVolunteer">Add a new volunteer</a><br />
<a href="viewAllCustomers">View all customers</a><br />
<a href="../addCustomer">Add a new customer</a><br />
<a href="index.html">Return to home page</a>
</body>
</html>